/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("./bridge-style.css");


h2, h2 a {
	font-size:24px;
}

i.qode_icon_font_awesome.fa.fa-2x.simple_social {
    font-size: 20px !important;
}

.column1.footer_bottom_column {
    width: 25%;
}

.column2.footer_bottom_column {
    width: 75%;
}

footer {
    background: #2a2a2a;
}

#sticky-phone {
    position: absolute;
    top: 8px;
    left: 70px;
    font-weight: 400;
    width: 300px;
    line-height: 1.3em;
    font-size: .8em;
    display:none;
    
}
 
#sticky-phone span.enlarge {
	font-weight: 600;
    line-height: 1.3em;
    font-size:2.2em !important;
}

#mobile-phone{
	font-weight: 400;
    line-height: 1.3em;
    font-size: .8em;
}

#mobile-phone span.enlarge {
	font-weight: 600;
    line-height: 1.3em;
    font-size:2.2em !important;
}

.sec-holder{

}

.sec-holder h3{
	font-size:2.4em;
}

.sec-holder h3 a{
	color:red;
}

.sec-holder .sec-divider{
	margin:20px 0 80px 0;
}

#quote-list {
	margin-bottom:40px;
}

#quote-list li {
	list-style:none;
	border-bottom:1px solid #bebebe;
	display:none;
}

.service-head{
	padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 75px;
    padding-left: 60px;
}
.service-head h1 {
	color: #ffffff !important;
    font-size: 60px !important;
    font-weight: 700 !important;
    letter-spacing: 0px !important;
    text-transform:uppercase !important;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.subhead {
	background: rgba(96,10,21,1) !important;
	color:#fff !important;
	border-bottom:1px solid #fff;
	padding:40px 0;
}
.subhead a {
	color:#fff !important;
	font-weight:600;
}
.subhead h2 {
	color:#fff !important;
}
.subhead h4 {
	color:#fff !important;
	text-align:center;
	font-weight:500;
}





/*--------------------------------------------------------------
# infographic grid
--------------------------------------------------------------*/


.row.grid {
  /* background: #DDD;*/
  /* background: #DDD; */
  color:#fff;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
  height:auto !important;
  border-bottom: 1px solid #d1d1d1 !important;
  }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .grid-item ---- */


.grid-item.infographic {
  width: 100%;
  height: 300px;
  /*height:auto;*/
  position: relative;
  margin: 0;
  text-align: center;
	
  border-right: 1px solid #d1d1d1 !important;
  display: flex !important;
  align-items: stretch !important;
  align-self: stretch !important;
  
  position: relative;
  z-index: 1;
  background-color: rgba(15,111,151, 0.1); }
  
  
  .grid-item.infographic:last-child {
	
  border: 0 !important;
  }
  
  .grid-item.infographic .caption {
    position: relative;
    width: 100%;
    background: transparent; 
    color:#fff;
     margin-top:30px !important;
     padding:0 3%;
    transition: all 0.5s ease;
    }
    .grid-item.infographic .caption .icon {
      width: 100%;
      margin-bottom:60px;
      text-align: center;
      opacity: 1;
      transition: all 0.5s ease;
      margin: auto; }
      .grid-item.infographic .caption .icon img {
        text-align: center;
        margin: auto; }
    .grid-item.infographic .caption .icon-arrow {
      width: auto;
      text-align: center;
      margin:20px auto 20px -40px;
      opacity: 0;
      transition: all 0.5s ease;
      }
      .grid-item.infographic .caption .icon-arrow:last-child {
      margin:20px auto 60px auto;
      }
      .grid-item.infographic .caption .icon img {
        text-align: center;
        margin: auto; }
  .grid-item.infographic .title h2 {
  	text-align:center;
  	color:#58595b;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 0 0 0 !important;
    margin: 0 !important; 
    transition: all 0.5s ease;}
  .grid-item.infographic .title h6 {
  	text-align:center;
  	color:#58595b;
  	font-weight:500;
    padding: 10px 0 0 0;
    margin: 0;
    opacity:0;
    transition: all 0.5s ease; 
    }
  .grid-item.infographic .bg {
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; }
     
  .grid-item.infographic .bg-color {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*background-color: #25A9E0;*/
    background-color: #f6f6f6;
    transition: background-color 0.5s ease; }
  .grid-item.infographic .hit {
    position: absolute;
    z-index: 102;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.grid-item.infographic:hover  .caption{
	margin-top: -70px !important; 
}

.grid-item.infographic:hover .caption .icon {
    opacity: 0;
}

.grid-item.infographic:hover .caption .icon-arrow {
    opacity: 1;
    margin:20px auto 20px auto;
}

.grid-item.infographic:hover .title h2 {
  	color:#fff;
  	}

.grid-item.infographic:hover .bg-color {
    /*background-color: rgba(15, 111, 151, 0.1);*/
    background-color: rgba(96,10,21,1);
}
    
.grid-item.infographic:hover .title h6 {
    opacity:1;
    color:#fff;
}

.grid-tem.infographic:hover::after {
 /* background-color: rgba(96,10,21,1); */
  }

.grid-item, .figure {
  /* float: left; */
  display: inline-block !important;
  overflow: hidden; }

.grid-item img {
  /*position:absolute;*/
  /*top:50%;*/
  /*min-height:100%;
  height:100%;*/
  display: block;
  /*left:50%;*/
  /*-webkit-transform: translate(-50%, -50%);*/
  /*max-width: 2000px !important;*/
  width: auto !important; }
  
  
  
  .latest_post_two_info_inner {
    display: none !important;
}

.latest_post_two_holder .latest_post_two_text {
    padding: 10px 0 10px 0;
}

.latest_post_two_holder .latest_post_two_info {
 	padding:0 !important;
    border-top: 1px solid #eaeaea;
}

.blog-item{
	padding:20px 0 40px 0;
	border-bottom: 1px solid #eee;
}

.sticky_excerpt {
	padding-top:20px;
}
.sticky_excerpt p{
	padding:0;
}

.red-search {
	background: rgba(236,28,36, .8);
	padding:20px 40px;
	margin:0;
}

.red-search h1{
	color:#fff;
	font-weight:600;
	font-size:60px;
}

.red-search h1 a:hover{
	color:rgba(255,255,255,.8) !important;
}


.red-search h2{
	color:#fff !important;
	line-height:1.2em;
	font-size:22px;
}

.red-search h3{
	color:#fff;
	font-size:1.3em;
	font-weight:500;
	padding:0;
	margin:12px 0 20px 0;
}

.btn-style{
	border : solid 1px #ffffff;
	border-radius : 3px;
	moz-border-radius : 3px;
	font-size : 15px;
	color : #fff;
	padding : 6px 18px;
	background-color : rgba(96,10,21,1);
}

.btn-style:hover{
	background-color : rgba(37,169,224,.6);
}



input {
    padding: 6px 0 6px 0;
    border: solid 1px #ffffff;
    border-radius: 3px;
    moz-border-radius: 3px;
    font-size: 15px;
    color: #787878;
    text-align: center;
}


.home-head {
    min-height:400px !important;
}


.head-holder {
    margin-top: 220px;
    padding-top: 30px;
}


.employee-holder{
	position:relative;
}
.employee-column {
	position:absolute;
	right:0;
	bottom:0;
}


.col-m-2 {
    width: 7.33333%;
    position: relative;
  display:block;
  float: left;
  min-height: 1px;
  padding: 0 1rem 0 1rem;
    }
  .col-m-4 {
    width: 33.33333%;
    position: relative;
  display:block;
  float: left;
  min-height: 1px;
  padding: 0 0.3rem;
  }
  .col-m-6 {
    width: 49.4%;
    position: relative;
  float: left;
  min-height: 1px;
  padding: 0 .3%;
  }
  .col-m-10 {
    width: 83.33333%;
    position: relative;
  display:block;
  float: left;
  min-height: 1px;
  padding: 0 0.3rem;
  }
  
  .col-m-12 {
    width: 100%;
    position: relative;
  display:block;
  min-height: 1px;
  padding: 0 0.3rem;
  }

.col-l-12 {
	padding:0 !important;
}


/*
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: none;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: none;
}

.vc_row:after, .vc_row:before {
    content: " ";
    display: none;
}
*/

.why {
	background:#25A9E0;
	color:#fff;
}
.why h3{
	color:#fff;
	text-align:center;
	margin-bottom:20px;
	font-weight:600;
	font-size:1.5em;
}

.why ul{
	list-style:none;
	text-indent:none;
	font-weight:500;
	font-size:1.2em;
}

.why ul li{
	list-style:none;
	text-indent:none;
	line-height:1.4em;
	padding:10px 0;
	text-align:center;
}
.equalHM.eq.map {
	position:relative;
	padding:0 !important;
}

#map{
    position: absolute !important;

    width: 100% !important;
    height: 100% !important;
}

/*--------------------------------------------------------------
# Equal Height Columns with Margin
--------------------------------------------------------------*/
.eqWrap {
	display: flex;
}

.eq {
 padding:5% !important;;
}

.eq:nth-of-type(odd) {
}

.eq:nth-of-type(even) {
}

.equalHW {
	flex: 1;
}

.equalHMWrap {
	justify-content: space-between;
}

.equalHM {
	width: 50%;
}

.equalHMRWrap {
	justify-content: space-between;
	flex-wrap: wrap;
}

.equalHMR {
	width: 32%;
	margin-bottom: 2%;
}

.equalHMVWrap {
	flex-wrap: wrap;
}

.equalHMV {
	width: 32%;
	margin: 1%;	
}

.equalHMV:nth-of-type(3n) {
	margin-right: 0;	
}

.equalHMV:nth-of-type(3n+1) {
	margin-left: 0;	
}






@media (max-width:74rem) {
	.row.grid  {
		flex-direction: column !important;
	}
	.grid-item.infographic {
		border: 0 !important;
  		border-bottom: 1px solid #fff !important;
  		height: 300px;
	}
	
	.grid-item.infographic:last-child {
  		border: 0 !important;
  	}
  	.grid-item.infographic .caption {
     margin-top:30px !important;
	}
	
	.grid-item.infographic:hover  .caption{
	margin-top: -50px !important; 
}

.mobile-hide{
	display:none;
}

.eq.image {
	display:none !important;
	}


}




@media (max-width:64rem) {
	.row.grid  {
		flex-direction: column !important;
	}
	.grid-item.infographic {
		border: 0 !important;
  		border-bottom: 1px solid #fff !important;
  		height: 300px;
	}
	
	.grid-item.infographic:last-child {
  		border: 0 !important;
  	}
  	.grid-item.infographic .caption {
     margin-top:30px !important;
	}
	
	.grid-item.infographic:hover  .caption{
	margin-top: -50px !important; 
}
}

  
@media (max-width: 64rem) {
	

	.equalHMWrap, .eqWrap {
    	display:block !important;
	}
	
	.equalHM {
    	width: auto !important;
	}

}

.sec-holder a {
	text-transform:uppercase;
	font-weight:600;
}

.sec-holder h3 {
    font-size: 3.4em;
    font-weight: 200;
    color: #5f5f5f;
}

.sec-holder h3 a {
    color: red;
    font-size: 0.6em !important;
    font-weight: 400;
    padding: 20px 0 !important;
    display: block;
}

.sec-holder p {
    font-size: 1.2em;
    line-height: 1.6em;
}

.before-after h2{
	font-size:3em;
	line-height:1.2em;
}

.process {
	background: #f5f5f5;
}

.process-title {
    padding: 0 0 10px 0 !important;
    margin:0 !important;
    text-align: center;
    background:#f6f6f6;
}

.process-title h2{
	font-size:3em;
	line-height:1.2em;
}

.services-title h2{
	font-size:3em;
	line-height:1.2em;
}

.testimonial-title h2{
	font-size:3em;
	line-height:1.2em;
}

.seo_description h3, .seo_description h3 a{
	font-weight:700;
	text-align:center;
	padding:20px 0;
}

.seo_description {
	padding:0;
}

.seo_description h1 {
	font-size:24px;
	font-weight:500;
	text-align:center;
	margin:30px 0 20px 0;
}
.seo_description p {
	font-size:16px;
}

#loadMore {
	color:rgba(96,10,21,1);
	text-transform:uppercase;
	font-weight: 600;
	float:left;
	margin-bottom:40px;
}

#showLess {
	color:rgba(96,10,21,1);
	text-transform:uppercase;
	font-weight: 600;
	float:right;
	margin-bottom:40px;
}
#loadMore:hover,  #showLess:hover{
	color:rgba(37,169,224,.8);
	cursor: pointer; cursor: hand;
}


#quote-slides li{
	display:none;
}

.bg-img{ 
	width:90%;
	height:240px; 
	background-color:#f3f3f3;
	}

.blog-body .row{
	padding:40px 0;
	border-bottom:1px solid #e3e3e3;

}

.blog-body h4 a{
	font-weight:500;
	line-height:.9em !important;
	font-size:2em;
}



.blog-body h4:hover a{
	color:rgba(96,10,21,1);
}


.blog-body h5 a{
	font-weight:600;
	color:rgba(96,10,21,1);
	font-size:.7em;
	text-transform:uppercase;
}

.blog-body h5 a:hover{
	color:rgba(37,169,224,.6);
}


.sidebar h5{
	font-weight:700;
}

.pagination{
	margin-top:60px;
}

.blog_compound article {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom:0;
    padding-bottom: 58px;
}

.post_image {
    width: 25% !important;
}

.post_text_inner {
    padding-top: 0 !important;
    padding-left:50px;
}

.blog_single .post_text { width: 75% !important; }

.content {
    margin-top: 0;
    padding-top: 0 !important;
}

.left, .right {
    	height: auto !important;
	}


.main_menu  ul  li  a{
	 height: auto !important;
	 }


.testimonials_c_holder .testimonial_content_inner .testimonial_rating_holder {
    line-height: 1em;
    margin: 0 0 15px 0;
    font-size:30px;
    color: rgba(37,169,224,.5) !important;
}

.testimonials_c_holder .flex-control-nav {
    margin-top: 0;
    text-align: center;
}

.testimonials_c_holder .testimonial_content_inner .testimonial_author {
    margin-top: 9px;
    font-size: 30px;
    font-weight: 300;
}

.testimonials_c_holder .testimonial_content_inner {
    background: transparent;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;
}

#mobile-phone{
	display:none;
	position: fixed;
    left: 100px !important;
    top: 20px !important;
}

.landing-content h2{
	padding-bottom:14px;
}

@media only screen and (max-width: 1200px){
header {
    position:fixed !important;
    top: 0!important;
    margin-top: 0!important;
    display: block;
}

.content {
    padding-top: 80px !important;
}


.header_top .left{
		display:none !important;
	}
.red-search h1 {
    font-size: 50px !important;
}

.head-holder {
    margin-top: 280px;
    padding-top: 50px;
}
body.page-template-default .content.content_top_margin_none {
    margin-top: 80px !important;
}

.column1.footer_bottom_column {
    width: 100%;
}

.column2.footer_bottom_column {
    width: 100%;
}

.footer_bottom_columns.two_columns_50_50 .column2 .footer_bottom ul {
    text-align: center;
}

.footer_bottom {
    text-align: center !important;
}

.content {
    padding-top: 140px !important;
}

}


@media only screen and (max-width: 1160px){
nav.main_menu>ul>li>a {
    padding: 0 10px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0 !important;
}

.content {
    /*margin-top: 120px !important;*/
}

.service-head {
    padding-top: 150px;
}


}

@media only screen and (max-width: 1024px){
.seo_description p {
    font-size: 16px;
    width: 96%;
}

.eqWrap {
	display:block;
}

.equalHM.eq {
	min-height:300px
}
/*
.equalHM.eq.map {
    display: none;
}
*/
}

@media only screen and (max-width: 1000px){
.red-search h1 {
    font-size: 34px !important;
}

#sticky-phone{
	display:none !important;
}

#mobile-phone{
	display:block;
}

.header_bottom, footer .container_inner, nav.content_menu {
    height: 86px;
}

.header_bottom{
	padding:0;
}
nav.mobile_menu {
    top: -15px;
}
nav.mobile_menu ul li {
    padding: 0 10px !important;
}
.mobile_menu_button {
    margin: 0 20px 0 0 !important;
}

	.content {
    padding-top: 80px !important;
}
}


@media only screen and (max-width: 768px){
  .home-head {
      background-image: url(/wp-content/uploads/Crisp-House-for-Mobile-1.jpg) !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
  }
  .red-search h1 {
      font-size: 34px !important;
  }
}



@media only screen and (max-width: 600px){
	h2, .process-title h2, .testimonial-title h2, .services-title h2, .before-after h2{
		font-size: 24px;
	}
	
	.header-right-widget {
		font-size:1em !important;
	}

	.header_top .left{
		display:none !important;
	}
	.header_top_bottom_holder {
   		/*position: fixed;
    	top: 0;*/
    	width: 100%;
	}
	#sticky-phone{
		display:none !important;
	}
	.service-head h1 {
    	font-size: 40px !important;
    	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
	}
	.service-head {
    background-position: right top !important;
	}
	.service-head {
    padding-top: 137px !important;
	}
	
	.home-head .head-holder {
    	margin-top: 105px;
    	padding-top: 0;
	}
	.red-search{
		margin:0;
	}

	.red-search h1{
		font-size:30px !important;
	}
	.red-search h2{
		font-size:16px !important;
	}
	.red-search h3{
		font-size:14px !important;
	}
	.btn-style{
		margin-top:10px;
		width:100%;
	}
	.zip-field {
		width:100%;
	}
	.head-holder{
		margin-top:200px;
		padding-top: 50px;
	}
	
	.sec-holder h3{
		font-size:30px;
	}
	
	.wpb_text_column.wpb_content_element {
    	padding-left: 0 !important;
	}
	.footer_bottom {
    	padding: 20px 0;
	}
	.blog-body {
    	margin-top: 80px;
	}
	.post_text {
    	width: 100% !important;
	}
	.post_image {
   		width: 100% !important;
   		margin: 20px auto !important;
	}
	.blog-body .col-m-4 {
    	width: 100%;
    	position: relative;
   		display: block;
    	float: none;
    	min-height: 1px;
    	padding: 0 0.3rem;
    	margin: 20px auto;
	}

}


.mobile_menu_button {
    float: right;
    margin: 0 10px 0 0 !important;
}


#mobile-phone {
    left: 80px !important;
}

.fa {
    font: normal normal normal 30px/1 FontAwesome !important;
}

.service-head {
	padding-top:35px !important;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
}


.home-head {
    background-image: url(/wp-content/uploads/house_Revised.jpg?id=17399) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


img.mobile {
    height: 50px !important;
    position: fixed !important;
    left: 20px !important;
    top: 20px !important;
}

.grid_section {
    padding-top: 0 !important;
}

.service-content{
	padding-top:30px !important;
}
/*
.header_top {
	display:block !important;
}
*/

header.sticky .header_top {
    background-color: rgba(96,10,21,1);
}

.wpb_wrapper h2 {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}


/* Sticky header scroll bug fix */
.content.content_top_margin_none {
    padding-top: 0 !important;
}
.contact-us-form form > p {
  width: 50%;
  float: left;
}
.contact-us-form form > p:nth-child(2) {
  width: 0;
}
.contact-us-form form .subscriptionNewsletter {
  position:relative;
  left: -15px;
}
.contact-us-form form > p:nth-last-child(5) {
  padding-right: 28px;
}
.contact-us-form form > p:nth-last-child(3) {
  width: 100%;
  float: none;
  text-align: center;
}
.contact-us-form form > p:nth-last-child(4),
.contact-us-form form > p:nth-last-child(5) {
  width: 100%;
  text-align: center;
}
.contact-us-form form textarea {
  width: 100% !important;
  border: dotted 1px #bababa;
  padding: 10px;
  font-size: 15px;
}
.contact-us-form form > p:nth-last-child(3) input,
.contact-us-form form > p:nth-last-child(3) .ajax-loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 2em;
}
.form-label {
  padding-top: 0.5em;
}
.wpcf7-response-output {
  text-align: center;
}
.contact-us-form form > p input.wpcf7-text {
  width: 95% !important;
  border: dotted 1px #bababa;
  padding: 10px;
  text-align: left;
}
.contact-us-form-section {
  margin-top: 50px;
  margin-bottom: 40px;
}
.contact-us-section h1, .contact-us-section h2, .contact-us-section h3 {
  color: #0f9f3f;
}
.contact-us-form input[type=submit] {
  padding: 10px;
}
.contact-us-form input[name="Company"], .contact-us-form input[name="Email"] {
  margin-left: 25px;
}

@media screen and (max-width: 1000px) {
  .contact-us-form form > p input.wpcf7-text {
    width: 95% !important; 
  }
  .contact-us-form input[name="Company"], .contact-us-form input[name="Email"] {
    margin-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .service-head > .section_inner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/LRR_Banner.jpg) !important;
    background-size: cover !important;
  }
  .contact-us-form form > p input.wpcf7-text {
    width: 90% !important; 
  }
  .contact-us-form input[name="Company"], .contact-us-form input[name="Email"] {
    margin-left: 15px;
  }
}