
/**
 * Custom stylesheet for water damage subdomain
 */

html, body,.service-content p,.service-content ul,.service-content li,.service-content div {
	font-size: 16px !important;
	line-height: 28px !important;
}

.CTA-align-center .red-search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.service-content .replace-kw, 
.service-content .replace-city {
	text-transform: capitalize;
}
.service-head .red-search h1,
.CTA-align-center .red-search h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.service-content h1 {
	margin-bottom: 25px;
}

.service-head h1 {
    text-align: left; 
    font-size: 40px !important;
    margin: 20px auto;
}
.service-head h1, .service-head h2 {
	text-shadow: 1px 1px 3px rgba(0,0,0,.7); 
}

.q_logo img {
	-webkit-transition: none !important;
	transition: none !important;
}

.service-content h3 a {
	color: #25a9e0;
}

h3 a:hover {
	text-decoration: underline;
}

.service-head h1{
	font-size: 40px !important;
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.header_top {
	padding:; 0;
}

.header_bottom {
	max-height: 60px;
}

.header_top > .container > .container_inner > .right .header-widget p {
	padding: 0;
	color: #ffffff;
	font-size: 18.2px;
	font-weight: 700;
	line-height: 33px;
	margin-top: 1em;
}

.main_menu.drop_down.right, .main_menu.drop_down.right a, .header_inner_right .side_menu_button {
	height: 60px;
}

.main_menu.drop_down.right a { 
	line-height: 60px;
}

.header_bottom .q_logo .always {
	display: none;
}

.testimonials_c_holder h2 {
	font-size: 18px;
	margin-top: 10px;
	padding-bottom: 10px;
  margin-bottom: 0;
  text-transform: none;
  font-weight: 700;
}

.phone-number {
	white-space: nowrap;
}

.waterdamage_logo_full {
	top: 0 !important;
}

@media (max-width: 1200px) {
	.header_top > .container > .container_inner > .left {
		visibility: visible !important;
		display: block !important;
		height: 60px !important;
	}
	.header_top > .container > .container_inner > .left .q_logo img {
		height: 50px !important;
	}
	.header_top > .container > .container_inner > .right .header-widget p {
		margin-top: 3px !important;
	}
	.vc_row.wpb_row.section.vc_row-fluid.service-head {
		margin-top: 140px !important;
	}
}

@media (max-width: 1200px) and (min-width: 1000px) {
    .CTA-align-center .red-search {
        margin-left: auto;
        margin-right: auto;
    }
    .CTA-align-center .red-search h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 1000px) {
	.header_bottom {
		max-height: 80px;
	}
	.header_bottom .q_logo .always {
		display: block;
	}
	.header_top > .container > .container_inner > .left {
		visibility: hidden;
		display: none;
	}
	.vc_row.wpb_row.section.vc_row-fluid.service-head {
		margin-top: 80px !important;
	}
}


@media (max-width: 768px) and (min-width: 650px) {
	.service-head > .section_inner {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 36%, #555555 48%), url(../images/LRR_Banner.jpg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
	.service-head > .section_inner {
		background: linear-gradient( to right, rgba(255, 255, 255, 0) 55%, #555555 85%, #555555), url(../images/LRR_Banner.jpg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
	.service-head .wpb_wrapper > h1 {
		min-height: 150px;
	}
}

@media (max-width: 768px) {
	.vc_col-sm-8, .vc_col-sm-4 {
		width: 100% !important;
	}
	.vc_col-sm-6 {
  	width: 100% !important;
  }
}

@media (max-width: 650px) {
	.vc_row.wpb_row.section.vc_row-fluid.service-head {
		margin-top: 30px !important;
	}
}